body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:flex;
  background-color:rgb(144, 206, 91);

}

#app {
  color: #00B7FF;
  position:relative;
  justify-content:right;
  align-content:end;
  background: linear-gradient(to right, rgb(77, 145, 79), rgb(0, 0, 0));
  border: 10px dashed rgb(0, 0, 0);
  left: 100px;


}
#app:hover {
  transform: translateX(200px);


}
