body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:flex;
  background-color:rgb(61, 57, 115);

}
h1 {
  color:green;
  position:absolute;
  bottom:200px;
  right:500px;
}
#app {
  color: #86004a;
  position:relative;
  justify-content:right;
  align-content:end;
  background: linear-gradient(to right, rgb(2, 0, 97), rgb(0, 0, 0));
  border: 10px dashed rgb(0, 0, 0);
  left: 100px;


}
#app:hover {
  transform: translateX(200px);


}
#button {
  position:absolute;
  right:300;
  top:200;

}