body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:flex;
  background-color:blue;

}

#app {
  color: #00B7FF;
  position:absolute;
  justify-content:right;
  align-content:end;
  background: linear-gradient(to right, green, red);
  border: 10px dashed purple;
}
